.app-sidebar {
  width: 300px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  border-right: 1px solid #ced4da;
}

.app-content {
  padding: 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .app-content {
    width: calc(100% - 300px);
  }
}
