<template>
  <header class="header">
    <b-container fluid="fluid">
      <b-row align-v="center">
        <b-col lg="3" md="4" cols="6">
          <router-link class="header-logo" to="/">Cargo Planner</router-link>
        </b-col>

        <b-col class="d-none d-md-block" lg="6" md="4">
          <search-block />
        </b-col>

        <b-col lg="3" md="4" cols="6">
          <div class="header-controls d-none d-md-flex justify-content-end">
            <b-button variant="primary" @click="loadShipments">Load</b-button>
            <b-button variant="success" @click="saveShipments">Save</b-button>
          </div>

          <button class="toggle-drawer d-md-none" @click="toggleDrawer">
            <b-icon-list />
          </button>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import SearchBlock from '@/components/layout/SearchBlock'

export default {
  name: "AppHeader",
  components: {
    SearchBlock
  },
  methods: {
    toggleDrawer() {
      this.$root.$emit('toggle-drawer')
    },

    loadShipments() {
      this.$store.dispatch('loadShipments')
    },

    saveShipments() {
      this.$store.dispatch('saveShipments')
        .then(() => {
          this.$bvToast.toast('Shipments are successfully saved', {
            title: 'Successfull operation',
            variant: 'success',
            solid: true
          })
        })
    }
  }
}
</script>
