<template>
  <div class="app-sidebar d-none d-md-block">
    <companies-list />
  </div>
</template>

<script>
import CompaniesList from '@/components/ui/CompaniesList'

export default {
  name: "AppSidebar",
  components: {
    CompaniesList
  }
}
</script>
