<template>
  <b-form class="search-block">
    <b-form-input class="search-block__input" type="text" placeholder="Search..." v-model="searchQuery" />
    <button class="search-block__submit">
      <b-icon-search />
    </button>
  </b-form>
</template>

<script>
export default {
  name: 'SearchBlock',
  data() {
    return {
      search: ''
    }
  },
  computed: {
    searchQuery: {
      get() {
        return this.search
      },
      set(value) {
        this.$store.commit('SET_SEARCH_QUERY', value)
      }
    }
  }
}
</script>