<template>
  <div class="side-drawer d-md-none">
    <div class="side-drawer-header">
      <div class="side-drawer__controls d-flex">
        <b-button variant="primary" @click="loadShipments">Load</b-button>
        <b-button variant="success" @click="saveShipments">Save</b-button>
      </div>

      <search-block />
    </div>
    <div class="side-drawer__body">
      <companies-list />
    </div>
  </div>
</template>

<script>
import SearchBlock from '@/components/layout/SearchBlock'
import CompaniesList from '@/components/ui/CompaniesList'

export default {
  name: "SideDrawer",
  components: {
    SearchBlock,
    CompaniesList
  },
  methods: {
    loadShipments() {
      this.$store.dispatch('loadShipments');
    },

    saveShipments() {
      this.$store.dispatch('saveShipments')
        .then(() => {
          this.$bvToast.toast('Shipments are successfully saved', {
            title: 'Successfull operation',
            variant: 'success',
            solid: true
          })
        })
    }
  }
}
</script>