.header {
  padding: 15px 0;
  border-bottom: 1px solid #ced4da;

  &-logo {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    white-space: nowrap;
    color: #000000;

    &:hover,
    &:focus {
      color: #000000;
      text-decoration: none;
    }
  }

  &-controls {
    > * {
      margin-left: 12px;
    }

    button {
      min-width: 80px;
    }
  }

  .toggle-drawer {
    float: right;
    font-size: 20px;
    border: none;
  }
}