.search-block {
  position: relative;

  &__input {
    padding-left: 36px;
  }

  &__submit {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-52%);
    padding: 0;
    background: none;
    border: none;
  }
}