.side-drawer {
  position: fixed;
  top: 62px;
  left: 0;
  width: 100%;
  height: calc(100vh - 62px);
  padding: 15px;
  background-color: #ffffff;
  z-index: 10;

  &__controls {
    button {
      flex: 1;

      + button {
        margin-left: 12px;
      }
    }
  }

  .search-block {
    margin: 15px 0;
  }

  &__body {
    height: calc(100% - 105px);
    overflow-y: auto;
  }
}