<template>
  <div class="shipment-details" v-if="shipment">
    <h2 class="shipment-details__name">{{ shipment.name }}</h2>
    <a class="shipment-details__email" :href="`mailto:${shipment.email}`">
      {{ shipment.email }}
    </a>
    <p class="shipment-details__cargo-bays">
      Number of required cargo bays <strong>{{ requiredCargoBays || "" }}</strong>
    </p>
    <b-form-group label="Cargo boxes">
      <b-form-input :value="shipment.boxes" @input="handleInput" />
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'About',
  computed: {
    shipment() {
      return this.$store.getters.getShipmentById(this.$route.params.id)
    },

    shipmentBoxesSum() {
      if (this.shipment.boxes === null) return false;
      return this.shipment.boxes.split(",").reduce((a, b) => {
        return (parseFloat(a) + parseFloat(b)).toFixed(2)
      }, 0)
    },

    requiredCargoBays() {
      return Math.ceil(this.shipmentBoxesSum / 10);
    }
  },
  methods: {
    handleInput(value) {
      this.$store.commit("UPDATE_SHIPMENT_BY_ID", {
        id: this.shipment.id,
        data: { ...this.shipment, boxes: value }
      })
    }
  }
}
</script>

