<template>
  <div id="app" class="app">
    <app-header />

    <main class="app-content-wrapper d-flex">
      <app-sidebar />
      <side-drawer v-show="drawerVisible" />

      <div class="app-content">
        <router-view/>
      </div>
    </main>
  </div>
</template>

<script>
import AppHeader from '@/components/layout/AppHeader'
import AppSidebar from '@/components/layout/AppSidebar'
import SideDrawer from '@/components/layout/SideDrawer'

export default {
  name: 'App',
  components: {
    AppHeader,
    AppSidebar,
    SideDrawer
  },
  data() {
    return {
      drawerVisible: false
    }
  },
  watch: {
    $route() {
      this.drawerVisible = false
    }
  },
  async mounted() {
    const dataLength = await this.$store.dispatch("initShipments")

    if (!dataLength) {
      this.$bvToast.toast('Plase load shipments by clicking "load" button', {
        title: 'No data loaded',
        variant: 'danger',
        solid: true
      })
    }

    this.$root.$on('toggle-drawer', () => {
      this.drawerVisible = !this.drawerVisible
    })
  }
}
</script>
