<template>
  <div class="companies-list" v-if="shipments.length">
    <b-list-group>
      <b-list-group-item
        v-for="shipment in filteredShipments"
        :key="shipment.id"
        :to="`/shipment/${shipment.id}`"
      >
        {{ shipment.name }}
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CompaniesList',
  computed: {
    ...mapGetters({
      searchQuery: 'getSearchQuery',
      shipments: 'getShipments'
    }),
    filteredShipments() {
      if (this.searchQuery !== '') {
        return this.shipments.filter(shipment => {
          return shipment.name.toLowerCase().startsWith(this.searchQuery.toLowerCase())
        })
      } else {
        return this.shipments
      }
    }
  }
}
</script>